{% extends "_layouts/base.html" %}

{% block content %}
<article class="e-content">

  <header>
    <h1 class="p-name">{{ title }}</h1>
    <div style="display: flex; gap: 1ch; align-items: flex-end;">
      {% dateTime pub, upd %}
      <time>{{ content | readingTime }}</time>
    </div>
  </header>

  {{ content | safe }}

  <footer>
    {% include "tags.html" %}
    <p class="p-author">{{ author.name }}</p>
    {% recommended "writings", page, collections  %}
  </footer>

</article>
{% endblock %}