/* ELEMENTS */

del { position: relative; color: var(--clr-foreground); }
del::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(-20deg,
      var(--clr-background) 0 8px,
      transparent 8px 12px);
  opacity: 0.6;
}

.imageContainer { padding: var(--sm); width: fit-content; float: right;}
.image { display: block; }

/* INDIVIDUAL */

.themeSwitch {
  font-size: var(--md);
  border: none;
  cursor: pointer;
}

.logoLink { border: none; }
.logoImg { border: 1px solid var(--clr-foreground); }
